
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}



@mixin mq($size) {
  @if $size == phone {
    @media (max-width: 599px) { @content; }
  } @else if $size == tabletUp {
    @media (min-width: 600px) { @content; }
  } @else if $size == tabletLand {
    @media (min-width: 900px) { @content; }
  } @else if $size == laptop {
    @media (min-width: 1200px) { @content; }
  } @else if $size == desktop {
    @media (min-width: 1800px) { @content; }
  }
}